{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html'%}
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }} </a>
    </div>
    <div class="card-body">
        {% if news_item.photo %}
        <img src = "{{ news_item.photo.url}}" alt="" width="350" class="float-left mr-3">
        {% else %}
        <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt ="" class="float-left mr-3">
        {% endif %}
        <h5 class="card-title">{{ news_item.title }}</h5>
        <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
        <p class="card-author"> Автор новости: {{ news_item.author }}</p>

    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"Y-m-d H:i:s"}}
    </div>

    <hr>
    {% if request.user.is_authenticated %}
        <h3> Добавить комментарий </h3>
        <form action=""  method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Добавить </button>
        </form>
    {% else %}
        <h4> Чтобы оставить комментарий авторизирйтесь :)</h4>
    {% endif %}
    <hr>
    <h4> Комментарии: </h4>
    <hr>
    {% for item in news_item.comments_news.all  %}
        <div class="media-block">
             <a class="media-left" href="#"><img class="img-circle img-sm" alt="Профиль пользователя" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
             <div class="media-body">
                 <div class="mar-btm">
                     <a class="btn-link text-semibold media-heading box-inline">{{ item.author }}</a>
                     <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> {{ item.created|date:"Y-m-d H:i" }}</p>
                 </div>
                 <p> {{ item.body }} </p>
                 <div class="pad-ver">
                     <div class="btn-group">
                         <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                         <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                     </div>
                </div>
             </div>
        </div>
    {% endfor %}
</div>
{% endblock %}